In [ ]:
import numpy as np
import pandas as pd

## DataTypes and Attributes 
Numpy's main datatype is ndarray.

In [ ]:
a1 = np.array([1,2,3])
a2 = np.array([[1.3, 2, 5],
              [3,5.9, 3]])
a3 = np.array([[[1,2,3],
               [4,5,6,],
               [7,8,9]],
               [[10, 11, 12],
               [13, 14, 15],
               [16, 17, 18]]])

In [ ]:
a1

array([1, 2, 3])

In [ ]:
a2

array([[1.3, 2. , 5. ],
       [3. , 5.9, 3. ]])

In [ ]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [ ]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [ ]:
a1.shape

(3,)

In [ ]:
a2.shape

(2, 3)

In [ ]:
a3.shape

(2, 3, 3)

In [ ]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [ ]:
# Create a dataframe from numpy array

df = pd.DataFrame(a2)
df

     0    1    2
0  1.3  2.0  5.0
1  3.0  5.9  3.0


# 2. Creating Numpy Arrays

In [ ]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [ ]:
a3.shape

(2, 3, 3)

In [ ]:
ones = np.ones((2, 3, 3))
ones

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [ ]:
# Usecase would be using this as a placeholder. Sort of an initial state
zeros = np.zeros((2,3), dtype=int)
zeros

array([[0, 0, 0],
       [0, 0, 0]])

In [ ]:
range_array = np.arange(2, 100, 10)
range_array

array([ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92])

In [ ]:
a3.size

18

In [ ]:
np.random.seed(0)
random_array = np.random.randint(0,4, size=(2,4))
random_array

array([[0, 3, 1, 0],
       [3, 3, 3, 3]])

In [ ]:
random_array.shape

(2, 4)

In [ ]:
# generate a 1 by 3 array with 3 different upper bounds
upper_bounds = np.random.randint(1, [2,3,4])
upper_bounds

array([1, 2, 2])

In [ ]:
# generate a 1 by 3 array with 3 different lower bounds
lower_bounds = np.random.randint([2,3,4], 10)
lower_bounds

array([4, 7, 4])

In [ ]:
# generate a 2 by 4 array using broadcasting
two_by_four = np.random.randint([1, 3, 5, 7], [[8], [9]])
two_by_four

array([[1, 7, 7, 7],
       [2, 3, 6, 8]])

In [ ]:
np.random.seed(0)
random_array_2 = np.random.random((5,4))
random_array_2

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318],
       [0.4236548 , 0.64589411, 0.43758721, 0.891773  ],
       [0.96366276, 0.38344152, 0.79172504, 0.52889492],
       [0.56804456, 0.92559664, 0.07103606, 0.0871293 ],
       [0.0202184 , 0.83261985, 0.77815675, 0.87001215]])

In [ ]:
random_array_2.shape

(5, 4)

## 3. Viewing Array and matrices

In [ ]:
np.random.seed(0)
random_array_3 = np.random.randint(10, size= (5,3))
random_array_3

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [ ]:
np.unique(random_array_3)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
random_array_4 = np.random.randint(10, size=(2,2,3,4,5))
random_array_4

array([[[[[6, 7, 7, 8, 1],
          [5, 9, 8, 9, 4],
          [3, 0, 3, 5, 0],
          [2, 3, 8, 1, 3]],

         [[3, 3, 7, 0, 1],
          [9, 9, 0, 4, 7],
          [3, 2, 7, 2, 0],
          [0, 4, 5, 5, 6]],

         [[8, 4, 1, 4, 9],
          [8, 1, 1, 7, 9],
          [9, 3, 6, 7, 2],
          [0, 3, 5, 9, 4]]],


        [[[4, 6, 4, 4, 3],
          [4, 4, 8, 4, 3],
          [7, 5, 5, 0, 1],
          [5, 9, 3, 0, 5]],

         [[0, 1, 2, 4, 2],
          [0, 3, 2, 0, 7],
          [5, 9, 0, 2, 7],
          [2, 9, 2, 3, 3]],

         [[2, 3, 4, 1, 2],
          [9, 1, 4, 6, 8],
          [2, 3, 0, 0, 6],
          [0, 6, 3, 3, 8]]]],



       [[[[8, 8, 2, 3, 2],
          [0, 8, 8, 3, 8],
          [2, 8, 4, 3, 0],
          [4, 3, 6, 9, 8]],

         [[0, 8, 5, 9, 0],
          [9, 6, 5, 3, 1],
          [8, 0, 4, 9, 6],
          [5, 7, 8, 8, 9]],

         [[2, 8, 6, 6, 9],
          [1, 6, 8, 8, 3],
          [2, 3, 6, 3, 6],
          [5, 7, 0, 8, 4]]],


        [[[6, 5, 8, 2, 3],
          [9, 7, 5, 3, 4],
          [5, 3, 3, 7, 9],
          [9, 9, 7, 3, 2]],

         [[3, 9, 7, 7, 5],
          [1, 2, 2, 8, 1],
          [5, 8, 4, 0, 2],
          [5, 5, 0, 8, 1]],

         [[1, 0, 3, 8, 8],
          [4, 4, 0, 9, 3],
          [7, 3, 2, 1, 1],
          [2, 1, 4, 2, 5]]]]])

In [ ]:
random_array_4.shape, random_array_4.ndim

((2, 2, 3, 4, 5), 5)

In [ ]:
random_array_4[:, :, :1, :3, :1]

array([[[[[6],
          [5],
          [3]]],


        [[[4],
          [4],
          [7]]]],



       [[[[8],
          [0],
          [2]]],


        [[[6],
          [9],
          [5]]]]])

## 4. Manipulating and Comparing Arrays
Minipulations and finding patterns happens here. This is the fun part of machine learning

### Learning some arithmetic of numpyh arrays

In [ ]:
a1

array([1, 2, 3])

In [ ]:
a2

array([[1.3, 2. , 5. ],
       [3. , 5.9, 3. ]])

In [ ]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [ ]:
ones

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [ ]:
zeros

array([[0, 0, 0],
       [0, 0, 0]])

In [ ]:
np.add(a1, a2)

array([[2.3, 4. , 8. ],
       [4. , 7.9, 6. ]])

In [ ]:
np.multiply(a1, a2)

array([[ 1.3,  4. , 15. ],
       [ 3. , 11.8,  9. ]])

In [ ]:
np.remainder(a3, 10)

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]],

       [[0, 1, 2],
        [3, 4, 5],
        [6, 7, 8]]])

In [ ]:
np.log(a2)

array([[0.26236426, 0.69314718, 1.60943791],
       [1.09861229, 1.77495235, 1.09861229]])

## Aggregation
Performing the same operations on a number of things

In [ ]:
massive_array = np.random.random(1000)
massive_array[:10]

array([0.21874937, 0.56957353, 0.45210904, 0.97023668, 0.68054469,
       0.08529557, 0.05641833, 0.4878377 , 0.88100456, 0.97640439])

In [40]:
%timeit sum(massive_array)
%timeit np.sum(massive_array)

93.8 µs ± 18.1 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)
5.76 µs ± 1.48 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [41]:
78.4/5.65

13.876106194690266

In [42]:
# Demo for std and var
high_var_array = np.array([1, 100, 300, 500, 1000, 3000])
low_var_array = np.array([2,4,6,8,10])

In [43]:
np.var(high_var_array), np.var(low_var_array)

(1057783.4722222222, 8.0)

In [44]:
np.std(high_var_array), np.std(low_var_array)

(1028.4860097357778, 2.8284271247461903)

In [45]:
np.mean(high_var_array), np.mean(low_var_array)

(816.8333333333334, 6.0)

## Reshaping and Transposing

In [46]:
a2

array([[1.3, 2. , 5. ],
       [3. , 5.9, 3. ]])

In [47]:
a2.shape

(2, 3)

In [48]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [49]:
a3.shape

(2, 3, 3)

In [50]:
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [ ]:
a2_reshape = a2.reshape((2,3,1))

In [ ]:
a2_reshape

array([[[1.3],
        [2. ],
        [5. ]],

       [[3. ],
        [5.9],
        [3. ]]])

In [ ]:
a2_reshape.shape

(2, 3, 1)

In [ ]:
a2_reshape * a3

array([[[ 1.3,  2.6,  3.9],
        [ 8. , 10. , 12. ],
        [35. , 40. , 45. ]],

       [[30. , 33. , 36. ],
        [76.7, 82.6, 88.5],
        [48. , 51. , 54. ]]])

In [ ]:
# Transpose 

a2

array([[1.3, 2. , 5. ],
       [3. , 5.9, 3. ]])

In [ ]:
a2.shape

(2, 3)

In [ ]:
a2.T

array([[1.3, 3. ],
       [2. , 5.9],
       [5. , 3. ]])

In [ ]:
a2.T.shape

(3, 2)

## Dot Product vs Element Wise
The man use cases for transposing a matric is `dot product`

In [ ]:
np.random.seed(0)
mat1 = np.random.randint(10, size=(3,5))
mat2 = np.random.randint(10, size=(3,5))

In [ ]:
mat1

array([[5, 0, 3, 3, 7],
       [9, 3, 5, 2, 4],
       [7, 6, 8, 8, 1]])

In [ ]:
mat2

array([[6, 7, 7, 8, 1],
       [5, 9, 8, 9, 4],
       [3, 0, 3, 5, 0]])

In [ ]:
elem_wise_result = mat1 * mat2
elem_wise_result

array([[30,  0, 21, 24,  7],
       [45, 27, 40, 18, 16],
       [21,  0, 24, 40,  0]])

In [ ]:
np.dot(mat1, mat2)

ValueError: shapes (3,5) and (3,5) not aligned: 5 (dim 1) != 3 (dim 0)

In [ ]:
mat1.T.shape

(5, 3)

In [ ]:
mat3 = np.dot(mat1.T, mat2)

In [ ]:
mat3

array([[ 96, 116, 128, 156,  41],
       [ 33,  27,  42,  57,  12],
       [ 67,  66,  85, 109,  23],
       [ 52,  39,  61,  82,  11],
       [ 65,  85,  84,  97,  23]])

In [ ]:
mat3.shape

(5, 5)

<img src="images/panda.png"/>

In [ ]:
# Turn an image into Numpy array
from matplotlib.image import imread
panda = imread("images/panda.png")

In [ ]:
panda.shape, panda.ndim, panda.size

((2330, 3500, 3), 3, 24465000)

<img src="images/car-photo.png" />

In [ ]:
car = imread("images/car-photo.png")

In [ ]:
car.size, car.shape, car.ndim

(991300, (431, 575, 4), 3)

In [ ]:
np.unique(car)

array([0.        , 0.00392157, 0.00784314, 0.01176471, 0.01568628,
       0.01960784, 0.02352941, 0.02745098, 0.03137255, 0.03529412,
       0.03921569, 0.04313726, 0.04705882, 0.05098039, 0.05490196,
       0.05882353, 0.0627451 , 0.06666667, 0.07058824, 0.07450981,
       0.07843138, 0.08235294, 0.08627451, 0.09019608, 0.09411765,
       0.09803922, 0.10196079, 0.10588235, 0.10980392, 0.11372549,
       0.11764706, 0.12156863, 0.1254902 , 0.12941177, 0.13333334,
       0.13725491, 0.14117648, 0.14509805, 0.14901961, 0.15294118,
       0.15686275, 0.16078432, 0.16470589, 0.16862746, 0.17254902,
       0.1764706 , 0.18039216, 0.18431373, 0.1882353 , 0.19215687,
       0.19607843, 0.2       , 0.20392157, 0.20784314, 0.21176471,
       0.21568628, 0.21960784, 0.22352941, 0.22745098, 0.23137255,
       0.23529412, 0.23921569, 0.24313726, 0.24705882, 0.2509804 ,
       0.25490198, 0.25882354, 0.2627451 , 0.26666668, 0.27058825,
       0.27450982, 0.2784314 , 0.28235295, 0.28627452, 0.2901961 ,
       0.29411766, 0.29803923, 0.3019608 , 0.30588236, 0.30980393,
       0.3137255 , 0.31764707, 0.32156864, 0.3254902 , 0.32941177,
       0.33333334, 0.3372549 , 0.34117648, 0.34509805, 0.34901962,
       0.3529412 , 0.35686275, 0.36078432, 0.3647059 , 0.36862746,
       0.37254903, 0.3764706 , 0.38039216, 0.38431373, 0.3882353 ,
       0.39215687, 0.39607844, 0.4       , 0.40392157, 0.40784314,
       0.4117647 , 0.41568628, 0.41960785, 0.42352942, 0.42745098,
       0.43137255, 0.43529412, 0.4392157 , 0.44313726, 0.44705883,
       0.4509804 , 0.45490196, 0.45882353, 0.4627451 , 0.46666667,
       0.47058824, 0.4745098 , 0.47843137, 0.48235294, 0.4862745 ,
       0.49019608, 0.49411765, 0.49803922, 0.5019608 , 0.5058824 ,
       0.50980395, 0.5137255 , 0.5176471 , 0.52156866, 0.5254902 ,
       0.5294118 , 0.53333336, 0.5372549 , 0.5411765 , 0.54509807,
       0.54901963, 0.5529412 , 0.5568628 , 0.56078434, 0.5647059 ,
       0.5686275 , 0.57254905, 0.5764706 , 0.5803922 , 0.58431375,
       0.5882353 , 0.5921569 , 0.59607846, 0.6       , 0.6039216 ,
       0.60784316, 0.6117647 , 0.6156863 , 0.61960787, 0.62352943,
       0.627451  , 0.6313726 , 0.63529414, 0.6392157 , 0.6431373 ,
       0.64705884, 0.6509804 , 0.654902  , 0.65882355, 0.6627451 ,
       0.6666667 , 0.67058825, 0.6745098 , 0.6784314 , 0.68235296,
       0.6862745 , 0.6901961 , 0.69411767, 0.69803923, 0.7019608 ,
       0.7058824 , 0.70980394, 0.7137255 , 0.7176471 , 0.72156864,
       0.7254902 , 0.7294118 , 0.73333335, 0.7372549 , 0.7411765 ,
       0.74509805, 0.7490196 , 0.7529412 , 0.75686276, 0.7607843 ,
       0.7647059 , 0.76862746, 0.77254903, 0.7764706 , 0.78039217,
       0.78431374, 0.7882353 , 0.7921569 , 0.79607844, 0.8       ,
       0.8039216 , 0.80784315, 0.8117647 , 0.8156863 , 0.81960785,
       0.8235294 , 0.827451  , 0.83137256, 0.8352941 , 0.8392157 ,
       0.84313726, 0.84705883, 0.8509804 , 0.85490197, 0.85882354,
       0.8627451 , 0.8666667 , 0.87058824, 0.8745098 , 0.8784314 ,
       0.88235295, 0.8862745 , 0.8901961 , 0.89411765, 0.8980392 ,
       0.9019608 , 0.90588236, 0.9098039 , 0.9137255 , 0.91764706,
       0.92156863, 0.9254902 , 0.92941177, 0.93333334, 0.9372549 ,
       0.9411765 , 0.94509804, 0.9490196 , 0.9529412 , 0.95686275,
       0.9607843 , 0.9647059 , 0.96862745, 0.972549  , 0.9764706 ,
       0.98039216, 0.9843137 , 0.9882353 , 0.99215686, 0.99607843,
       1.        ], dtype=float32)