# Pandas Data Structures

In [231]:
import numpy as np
import pandas as pd
import datetime as dt

# Set maximum column display
pd.set_option('display.max_columns', 30)

In [4]:
data = np.genfromtxt("data/example_data.csv", delimiter=";",
                    names=True, dtype=None, encoding="UTF")

data.dtype

dtype([('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i8')])

In [9]:
%%time
# Say we want to find the maximum magnitude `mww`
max([row[3]for row in data])

CPU times: user 31 µs, sys: 1 µs, total: 32 µs
Wall time: 39.3 µs

6.7

In [30]:
# Create a Numpy array for each column
dict_array = {col: np.array([row[i] for row in data]) for i,
              col in enumerate(data.dtype.names)}
dict_array

{'time': array(['2018-10-13 11:10:23.560', '2018-10-13 04:34:15.580',
        '2018-10-13 00:13:46.220', '2018-10-12 21:09:49.240',
        '2018-10-12 02:52:03.620'], dtype='<U23'),
 'place': array(['262km NW of Ozernovskiy, Russia', '25km E of Bitung, Indonesia',
        '42km WNW of Sola, Vanuatu',
        '13km E of Nueva Concepcion, Guatemala',
        '128km SE of Kimbe, Papua New Guinea'], dtype='<U37'),
 'magType': array(['mww', 'mww', 'mww', 'mww', 'mww'], dtype='<U3'),
 'mag': array([6.7, 5.2, 5.7, 5.7, 5.6]),
 'alert': array(['green', 'green', 'green', 'green', 'green'], dtype='<U5'),
 'tsunami': array([1, 0, 0, 0, 1])}

In [32]:
%%time
# Grabbing the maximum magnitude 
dict_array["mag"].max()

CPU times: user 39 µs, sys: 1e+03 ns, total: 40 µs
Wall time: 42.9 µs

6.7

In [40]:
# Get all the information about the earth with max magnitude
for key, value in dict_array.items():
    print(value)

['2018-10-13 11:10:23.560' '2018-10-13 04:34:15.580'
 '2018-10-13 00:13:46.220' '2018-10-12 21:09:49.240'
 '2018-10-12 02:52:03.620']
['262km NW of Ozernovskiy, Russia' '25km E of Bitung, Indonesia'
 '42km WNW of Sola, Vanuatu' '13km E of Nueva Concepcion, Guatemala'
 '128km SE of Kimbe, Papua New Guinea']
['mww' 'mww' 'mww' 'mww' 'mww']
[6.7 5.2 5.7 5.7 5.6]
['green' 'green' 'green' 'green' 'green']
[1 0 0 0 1]

In [44]:
np.array([value[dict_array["mag"].argmax()] for key, value in dict_array.items()])

array(['2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia',
       'mww', '6.7', 'green', '1'], dtype='<U32')

## Series
The series class provides a data structure for arrays of a single type, just like the Nupy array

In [48]:
import pandas as pd

place = pd.Series(data=dict_array["place"], name="place")
place

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: place, dtype: object

### Index
The additon of the Index class makes the Series class significanly more powerful than a numpy array. The Index class gives us row lables, which enables selection by row.

In [62]:
place_index = place.index
place_index.is_unique

True

## DataFrame

THis build upon the Series class and can have manay columns, each with its own data type; we can think of it representing the spreadshet as a whole.

In [64]:
df = pd.DataFrame(dict_array)
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [68]:
df.index

RangeIndex(start=0, stop=5, step=1)

### Creating a Pandas DataFrame

#### From Python Object

In [71]:
np.random.seed(0)
pd.Series(np.random.rand(5), name="random_num")

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random_num, dtype: float64

In [81]:
pd.DataFrame(
    {
    "random": np.random.rand(5),
    "text": [f"Random_{i}" for i in range(5)],
    "truth": [np.random.choice([True, False]) for _ in range(5)]
    },index=pd.date_range(start=dt.date(2024,3,20),periods=5, freq="1D", name="date")
)

              random      text  truth
date
2024-03-20  0.055715  Random_0  False
2024-03-21  0.451159  Random_1  False
2024-03-22  0.019988  Random_2  False
2024-03-23  0.441711  Random_3   True
2024-03-24  0.979587  Random_4  False

#### From a file

In [83]:
# Check the number of lines
!wc -l data/earthquakes.csv

    9333 data/earthquakes.csv

In [88]:
# Check the file size
!ls -lh data | grep earthquakes.csv

-rw-r--r--  1 user  staff   3.4M Apr 12  2023 earthquakes.csv

In [89]:
# Check the fitst few rows of the file
!head -n 2 data/earthquakes.csv

alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
,,37389218,https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci37389218&format=geojson,0.008693,,85.0,",ci37389218,",1.35,ml,,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventpage/ci37389218

In [91]:
# Check the column count in our data
!awk -F',' '{print NF; exit}' data/earthquakes.csv

26

#### From a database
Pandas can interact with SQLite databases without the need for us to install any additional packages; however the SQLAlchemy package need to be install in order to interact with other database flavor.

In [94]:
import sqlite3

with sqlite3.connect("data/quakes.db") as connection:
    pd.read_csv("data/tsunamis.csv").to_sql(
    "tsunamis", connection, index=False, if_exists="replace")

In [97]:
with sqlite3.connect("data/quakes.db") as connection:
    tsunamis = pd.read_sql("SELECT * FROM tsunamis", con=connection)
    
tsunamis.head()

,alert,type,title,place,magType,mag,time
0,None,earthquake,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...","165km NNW of Flying Fish Cove, Christmas Island",mww,5.0,1539459504090
1,green,earthquake,"M 6.7 - 262km NW of Ozernovskiy, Russia","262km NW of Ozernovskiy, Russia",mww,6.7,1539429023560
2,green,earthquake,"M 5.6 - 128km SE of Kimbe, Papua New Guinea","128km SE of Kimbe, Papua New Guinea",mww,5.6,1539312723620
3,green,earthquake,"M 6.5 - 148km S of Severo-Kuril'sk, Russia","148km S of Severo-Kuril'sk, Russia",mww,6.5,1539213362130
4,green,earthquake,"M 6.2 - 94km SW of Kokopo, Papua New Guinea","94km SW of Kokopo, Papua New Guinea",mww,6.2,1539208835130

#### From API

In [98]:
import requests

In [181]:
endtime = dt.date.today() - dt.timedelta(days=1)
starttime = endtime - dt.timedelta(days=30)
api = "https://earthquake.usgs.gov/fdsnws/event/1/query"
payload = {"format": "geojson",
          "starttime": yesterday - dt.timedelta(days=30),
          "endtime": endtime}


response = requests.get(api, params=payload)

In [182]:
response.status_code

200

In [183]:
earthquake_json = response.json()

In [184]:
earthquake_json.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [185]:
earthquake_json["metadata"]

{'generated': 1710348017000,
 'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2024-02-12&endtime=2024-03-12',
 'title': 'USGS Earthquakes',
 'status': 200,
 'api': '1.14.0',
 'count': 10279}

In [186]:
earthquake_json["features"][0]

{'type': 'Feature',
 'properties': {'mag': -0.51,
  'place': '63 km ENE of Pedro Bay, Alaska',
  'time': 1710201228230,
  'updated': 1710287403300,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/av92228806',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=av92228806&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'reviewed',
  'tsunami': 0,
  'sig': 0,
  'net': 'av',
  'code': '92228806',
  'ids': ',av92228806,',
  'sources': ',av,',
  'types': ',origin,phase-data,',
  'nst': 4,
  'dmin': None,
  'rms': 0.07,
  'gap': 198,
  'magType': 'ml',
  'type': 'earthquake',
  'title': 'M -0.5 - 63 km ENE of Pedro Bay, Alaska'},
 'geometry': {'type': 'Point',
  'coordinates': [-153.087666666667, 60.0448333333333, 0.34]},
 'id': 'av92228806'}

In [187]:
earthquake_json["bbox"]

[-179.8811, -63.7026, -3.48, 179.9894, 85.4033, 645.729]

In [188]:
earthquake_properties_data = [quake["properties"]for quake in earthquake_json["features"]]

In [194]:
df = pd.DataFrame(earthquake_properties_data)

In [198]:
# Write the dataframe to csv file

df.to_csv("data/earthquake_1.csv", index=False)

### Inspecting a DataFrame object

In [199]:
# Read the saved df 

df = pd.read_csv("data/earthquake_1.csv")

In [200]:
df.shape

(10279, 26)

In [205]:
df.head(3)

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,-0.51,"63 km ENE of Pedro Bay, Alaska",1710201228230,1710287403300,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av92228806,",",av,",",origin,phase-data,",4.0,NaN,0.07,198.0,ml,earthquake,"M -0.5 - 63 km ENE of Pedro Bay, Alaska"
1,0.48,"6 km W of Cobb, CA",1710199954540,1710202607643,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc74015986,",",nc,",",nearby-cities,origin,phase-data,",18.0,0.009049,0.02,55.0,md,earthquake,"M 0.5 - 6 km W of Cobb, CA"
2,-0.04,"86 km NW of Karluk, Alaska",1710199897370,1710290998210,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av91136228,",",av,",",origin,phase-data,",8.0,NaN,0.09,194.0,ml,earthquake,"M 0.0 - 86 km NW of Karluk, Alaska"

In [207]:
df.columns

Index(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi',
       'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids',
       'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type',
       'title'],
      dtype='object')

### Selecting a subset of data

In [210]:
df[["title", "time"] + [col for col in df.columns if col.startswith("mag")]]

                                         title           time   mag magType
0      M -0.5 - 63 km ENE of Pedro Bay, Alaska  1710201228230 -0.51      ml
1                   M 0.5 - 6 km W of Cobb, CA  1710199954540  0.48      md
2           M 0.0 - 86 km NW of Karluk, Alaska  1710199897370 -0.04      ml
3                 M 1.1 - 7 km WNW of Cobb, CA  1710199672020  1.14      md
4         M -0.1 - 86 km NNW of Karluk, Alaska  1710198843270 -0.12      ml
...                                        ...            ...   ...     ...
10274    M 1.3 - 42 km SE of Goldfield, Nevada  1707697140485  1.30      ml
10275        M 1.2 - 7 km S of Houston, Alaska  1707697004323  1.20      ml
10276      M 0.8 - 5 km NNW of The Geysers, CA  1707696985110  0.76      md
10277       M 1.2 - 78 km S of Deering, Alaska  1707696731061  1.20      ml
10278     M 1.3 - 12 km SSE of Sunnyside, Utah  1707696728780  1.29      ml

[10279 rows x 4 columns]

#### Slicing

When we want to extract certain rows from our dataframe

In [212]:
df[0: 2]

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,-0.51,"63 km ENE of Pedro Bay, Alaska",1710201228230,1710287403300,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",av92228806,",",av,",",origin,phase-data,",4.0,NaN,0.07,198.0,ml,earthquake,"M -0.5 - 63 km ENE of Pedro Bay, Alaska"
1,0.48,"6 km W of Cobb, CA",1710199954540,1710202607643,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc74015986,",",nc,",",nearby-cities,origin,phase-data,",18.0,0.009049,0.02,55.0,md,earthquake,"M 0.5 - 6 km W of Cobb, CA"

We can combine our row and column selection by using what is known as **chaining**

In [214]:
df[["title", "time"]][100:103]

                            title           time
100  M 0.7 - 7 km WNW of Cobb, CA  1710172377420
101  M 1.0 - 7 km WNW of Cobb, CA  1710172284350
102  M 1.2 - 7 km WNW of Cobb, CA  1710172259760

#### **Indexing**

Pandas indexing opeation provide us with a one-method way to select both the rows and the columns we want. We use `loc` and `iloc` to subset our dataframe using label-based or integer-based lookups respectively.

`df.loc[row_indexer, column_indexer]`

In [215]:
df.loc[110:112, "title"] = df.loc[110:112, "title"].str.lower()

#### **Filtering**

Let's select all the earthquakes in **Alaska** where we have a **non-null** value for the **alert**

In [234]:
df.loc[df["place"].str.contains("Alaska") & df["alert"].notnull()]

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,alert,status,tsunami,sig,net,code,ids,sources,types,nst,dmin,rms,gap,magType,type,title
1683,4.1,"50 km NNE of Chickaloon, Alaska",1709715725462,1709878415844,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,88.0,3.8,3.121,green,reviewed,0,292,ak,02431au8tv,",ak02431au8tv,us7000m3na,",",ak,us,",",dyfi,losspager,moment-tensor,origin,phase-dat...",NaN,NaN,0.60,NaN,ml,earthquake,"M 4.1 - 50 km NNE of Chickaloon, Alaska"
3775,5.5,"259 km W of Adak, Alaska",1709135421839,1710345631851,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,3.772,green,reviewed,0,465,us,6000mflq,",usauto6000mflq,us6000mflq,ak0242ptxqql,",",usauto,us,ak,",",internal-moment-tensor,losspager,moment-tenso...",118.0,0.053,0.79,33.0,mww,earthquake,"M 5.5 - 259 km W of Adak, Alaska"
5318,4.4,"52 km NE of Chase, Alaska",1708713836246,1710264274856,NaN,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,171.0,4.1,3.216,green,reviewed,0,368,ak,0242hlzvp5,",ak0242hlzvp5,us7000m16s,",",ak,us,",",dyfi,losspager,moment-tensor,origin,phase-dat...",NaN,NaN,0.79,NaN,mwr,earthquake,"M 4.4 - 52 km NE of Chase, Alaska"

Let's utilize this to filter on the `magType` column, which indicates the measurement technique that was used to quantify the earthquake's magnitude. We will take a look at earthquakes measured with either the
_mw_ or _mwb_ magnitude type:

In [237]:
df.loc[df["magType"].isin(["mw", "mwb"]),
      ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
2387,green,5.20,mwb,"M 5.2 - 225 km S of Bengkulu, Indonesia",0,earthquake
3622,NaN,3.49,mw,"M 3.5 - 2 km NNE of Byron, CA",0,earthquake
6139,NaN,3.48,mw,"M 3.5 - 4 km SSE of Parkfield, CA",0,earthquake
8959,green,4.04,mw,"M 4.0 - 10 km N of Westmorland, CA",1,earthquake
9510,NaN,3.55,mw,"M 3.6 - 4 km E of Round Valley, CA",0,earthquake
9713,NaN,3.48,mw,"M 3.5 - 1 km SE of El Centro, CA",0,earthquake
10076,NaN,3.90,mw,"M 3.9 - 1 km NNW of El Centro, CA",0,earthquake
10103,green,4.56,mw,"M 4.6 - 2 km NNW of El Centro, CA",0,earthquake
10113,green,4.05,mw,"M 4.1 - 4 km SSW of Imperial, CA",0,earthquake
10118,green,4.81,mw,"M 4.8 - 3 km NNW of El Centro, CA",1,earthquake

Suppose we wanted to see all the data for the lowest-magnitude and highest-magnitude earthquakes. Rather than finding the minimum and maximum of the mag column first and then creating a Boolean mask, we can ask pandas to give us the index where these values occur, and easily filter to grab the full rows. We can use `idxmin()` and `idxmax()` for the indices of the minimum and maximum, respectively. Let's grab the row numbers for the lowest-magnitude and highest-magnitude earthquakes:

In [244]:
lowest_highest_mag = [df["mag"].idxmax(), df["mag"].idxmin()]
lowest_highest_mag

[2520, 2442]

In [243]:
df.loc[lowest_highest_mag, ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']]

,alert,mag,magType,title,tsunami,type
2520,green,6.70,mww,M 6.7 - Macquarie Island region,1,earthquake
2442,NaN,-1.19,ml,"M -1.2 - 61 km ENE of Pedro Bay, Alaska",0,earthquake

## Adding and Removing values

In [247]:
# Select only columns to be used for this section
df = df.loc[:, ['time', 'title', 'place', 'magType', 'mag', 'alert', "tsunami"]]

Exploring the `place` column

In [248]:
df["place"]

0        63 km ENE of Pedro Bay, Alaska
1                    6 km W of Cobb, CA
2            86 km NW of Karluk, Alaska
3                  7 km WNW of Cobb, CA
4           86 km NNW of Karluk, Alaska
                      ...
10274     42 km SE of Goldfield, Nevada
10275         7 km S of Houston, Alaska
10276       5 km NNW of The Geysers, CA
10277        78 km S of Deering, Alaska
10278      12 km SSE of Sunnyside, Utah
Name: place, Length: 10279, dtype: object

In [251]:
df["place"].str.extract(r', (.*$)')[0].sort_values().unique()

array(['Afghanistan', 'Alabama', 'Alaska', 'Aleutian Islands, Alaska',
       'Algeria', 'Anguilla', 'Argentina', 'Arkansas', 'Australia',
       'B.C., MX', 'Bolivia', 'Bosnia and Herzegovina', 'CA',
       'California', 'Canada', 'Chile', 'China', 'Colombia', 'Colorado',
       'Connecticut', 'Costa Rica', 'Croatia', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Fiji', 'Georgia', 'Greece', 'Guam',
       'Guatemala', 'Hawaii', 'Idaho', 'Illinois', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Italy', 'Japan', 'Japan region', 'Kazakhstan',
       'Kentucky', 'Kyrgyzstan', 'Maine', 'Mexico', 'Micronesia',
       'Missouri', 'Mongolia', 'Montana', 'Myanmar', 'NV', 'Nebraska',
       'Nevada', 'New Caledonia', 'New Mexico', 'New Zealand',
       'Nicaragua', 'North Carolina', 'Northern Mariana Islands', 'Ohio',
       'Oklahoma', 'Oregon', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Puerto Rico', 'Russia', 'Saint Helena',
       'Sakha, Russia', 'Saudi Arabia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Carolina', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Timor Leste', 'Tonga', 'Turkey',
       'U.S. Virgin Islands', 'Utah', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Washington', 'Wyoming', 'Zambia', nan],
      dtype=object)

In [273]:
df["parsed_place"] = df["place"].str.replace(
    r'.* of ', '', regex=True
).str.replace(
    'the ', ''
).str.replace(
    r'CA$', 'California', regex=True
).str.replace(
    r'MX$', 'Mexico', regex=True
).str.replace(
    r'NV$', 'Nevada', regex=True
).str.replace(
    r'Russia$', 'Russia', regex=True
).str.replace(
    r' region', '', regex=True
).str.replace(
    r'southern ', '', regex=True
).str.replace(
    r'western ', '', regex=True
).str.replace(
    r'southeast ', '', regex=True
).str.replace(
    r'northern ', '', regex=True
).str.replace(
    r'central ', '', regex=True
).str.replace(
    r'^.*, ', '', regex=True # remove anything else extraneous from start
).str.strip()

Pandas provides us with a way to make many new columns at once in one method call.
With `assign()` method, the arguement are the names of the columns we want to create
and the values are the data for the columns.

Let's create two new columns; one will tell us if the earthquake happened in California, and the other will tell us if it happened in Alaska. Rather than just show the first five entries (which are all in California), we will use sample() to randomly select five rows:

In [279]:
df.assign(
    in_ca=df["parsed_place"].str.endswith("California"),
    in_alaska=df["parsed_place"].str.endswith("Alaska")
).sample(5, random_state=0)

,time,title,place,magType,mag,alert,tsunami,parsed_place,in_ca,in_alaska
6909,1708342123784,"M 4.0 - 69 km SSW of Atka, Alaska","69 km SSW of Atka, Alaska",mb,4.00,NaN,0,Alaska,False,True
6155,1708521581510,"M 0.7 - 14 km NE of Milford, Utah","14 km NE of Milford, Utah",md,0.67,NaN,0,Utah,False,False
334,1710098176810,"M 2.2 - 13 km W of Graysville, Tennessee","13 km W of Graysville, Tennessee",md,2.15,NaN,0,Tennessee,False,False
5981,1708556833510,"M -0.2 - 15 km NE of Milford, Utah","15 km NE of Milford, Utah",md,-0.15,NaN,0,Utah,False,False
3184,1709282379691,"M 1.8 - 6 km WSW of Trapper Creek, Alaska","6 km WSW of Trapper Creek, Alaska",ml,1.80,NaN,0,Alaska,False,True

Let's once again create the `in_ca` and `in_alaska` columns, but this time also create a new column,` neither`, which is True if both `in_ca` and `in_alaska` are False:

In [280]:
df.assign(in_ca=df["parsed_place"] == "California",
         in_alaska=df["parsed_place"] == "Alaska",
         neither_alaska_or_ca=lambda x: ~x.in_ca & ~x.in_alaska
         ).sample(5, random_state=0)

,time,title,place,magType,mag,alert,tsunami,parsed_place,in_ca,in_alaska,neither_alaska_or_ca
6909,1708342123784,"M 4.0 - 69 km SSW of Atka, Alaska","69 km SSW of Atka, Alaska",mb,4.00,NaN,0,Alaska,False,True,False
6155,1708521581510,"M 0.7 - 14 km NE of Milford, Utah","14 km NE of Milford, Utah",md,0.67,NaN,0,Utah,False,False,True
334,1710098176810,"M 2.2 - 13 km W of Graysville, Tennessee","13 km W of Graysville, Tennessee",md,2.15,NaN,0,Tennessee,False,False,True
5981,1708556833510,"M -0.2 - 15 km NE of Milford, Utah","15 km NE of Milford, Utah",md,-0.15,NaN,0,Utah,False,False,True
3184,1709282379691,"M 1.8 - 6 km WSW of Trapper Creek, Alaska","6 km WSW of Trapper Creek, Alaska",ml,1.80,NaN,0,Alaska,False,True,False